<h2>Login</h2>

<%form_for @session do |f|%>
	<%= form_errors(@session)%>

	<p>
		<%= f.label :username, "Brugernavn" %>
		<%= f.text_field :username %>
	</p>

	<p>
		<%= f.label :password, "Adgangskode" %>
		<%= f.password_field :password %>
	</p>

	<p><%= f.submit "Login" %></p>
<%end%>
