<%form_for @user do |f|%>

	<%= form_errors(@user)%>

	<p>
		<%= f.label :username, 'Brugernavn'%>
		<%= f.text_field :username%>
	</p>

	<p>
		<%= f.label :password%>
		<%= f.text_field :password%>
	</p>

	<p>
		<%= f.label :email, 'E-mail'%>
		<%= f.text_field :email%>
	</p>

	<p>
		<%= f.label :position%>
		<%= f.text_field :position%>
		<span>Default</span>
	</p>

	<p>
		&nbsp;<br />
		<%= f.submit 'Gem'%>
	</p>
<%end%>
