<h3>Brugere</h3>

<p><%= link_to 'Ny bruger', new_user_path %></p>

<table class='list'>
	<tr>
		<th>Brugernavn</th>
		<th>E-mail</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Sidst logget ind</th>
		<th></th>
	</tr>

	<%@users.each do |user|%>
	<tr>
		<td><%= link_to user.username, edit_user_path(user) %></td>
		<td><%= user.email %></td>
		<td><%= user.latitude %></td>
		<td><%= user.longitude %></td>
		<td><%= t(user.latest_session.created_at) rescue 'Aldrig' %></td>
		<td><%= link_to 'Slet', user_path(user), :method => 'DELETE', :confirm => 'Alle brugerens observationer vil også blive slettet. Er du sikker?' unless user.username == 'admin'%></td>
	</tr>
	<%end%>
</table>
