	<div>
		<%= f.label :filename%>
		<%= f.text_field :filename%>
		<p>The filename of the script</p>
	</div>

	<div>
		<%= f.label :body%>
		<%= f.text_area :body%>
		<p>The script</p>
	</div>

	<div>
		<%= f.submit :Gem%>
	</div>
