<table>
	<tr>
		<th>Tid</th>
		<th>Bruger</th>
		<th>Elevation</th>
		<th>Azimuth</th>
		<th>Position 1</th>
		<th>Position 2</th>
		<th>Position 3</th>
		<th>Position 4</th>
		<th>Position 5</th>
		<th>Position 6</th>
		<th>Position 7</th>
		<th>Position 8</th>
		<th>Optaget som lydfil?</th>
	</tr>

	<%@observations.each do |observation|%>
	<tr>
		<td><%= t(observation.time) %></td>
		<td><%=observation.user.username%></td>
		<td><%= observation.elevation %></td>
		<td><%= observation.azimuth %></td>
		<%observation.position.split.each do |p|%>
			<td><%= p %></td>
		<%end%>
		<td><%= (observation.beacon_recorded?) ? 'Ja' : 'Nej' %></td>
	</tr>
	<%end%>
</table>
